<!DOCTYPE html>
<head>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/Semantic/semantic.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="/static/Semantic/semantic.min.js"></script>
    <title>
        Edit Video
    </title>
</head>
<body>
<div class="ui centered grid" style="margin-top: 2px;">
    <div class="ui nine wide column">
        <video width="100%" controls>
            <source src="{{ url_for('serve_video', video=video.filename) }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="four wide column">
        <form class="ui form" action="{{ url_for('edit_video', ID=video.id) }}" method="post">

          <div class="field">
            <label>Champ</label>
            <input type="text" name="champ" value="{{ video.champ }}">
          </div>
          <div class="field">
            <label>Friends</label>
            <input type="text" name="friends" value="{{ video.friends }}">
          </div>
          <div class="field">
            <label>Tags</label>
            <input type="text" name="tags" value="{{ video.tags }}">
          </div>

           <button class="ui blue button" type="submit" >
                Save Changes
           </button>
                <button class="ui button" type="button" onclick="location.href='/'" >
                Back
            </button>
    </form>

    </div>
</div>

</body>
